#section-about {
    margin-top: 80px;
    margin-bottom: 90px;
}

.section-title {
    color: #133B57;
    text-align: left;
    text-decoration: underline;
    padding-bottom: 10px;
}

.image {
    width: 300px;
    border-radius: 50px;
}

#contact-me {
    width: 300px;
    height: 70px;
    background-color: #133B57;
    color: #ffffff;
    margin-top: 50px;
    font-size: 25px;
}

#contact-me:hover {
    background-color: #ffffff;
    color: #133B57;
    border: solid;
    border-color: #133B57;
}
