.nav-item {
    font-size: 20px;
    padding-left: 20px;
}

.fixed-top{
    position: relative;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + #section-about {
    padding-top: 60px;
}

.position-sticky {
    position: sticky;
}
