.nav-item {
    font-size: 17px;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 5px;
}

.nav-item:active {
    color: #ffffff;
}

.fixed-top{
    position: fixed;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + #section-about {
    padding-top: 60px;
}

.position-sticky {
    position: sticky;
}
